apiVersion: apps/v1
kind: Deployment
metadata:
  name: secure-app-deployment  # MUST MATCH JENKINSFILE
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-container
        image: vaishu09/secure-hybrid:v1
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: secure-app-service
spec:
  type: NodePort
  selector:
    app: my-app
  ports:
    - port: 80
      targetPort: 80
      nodePort: 32000  # THE PORT NGINX TALKS TO
